.bg_member_only {
	background-color: #e9e5dc;
	padding-top: 50px;
	padding-bottom: 50px;
}

.bg_member_only .flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

@media screen and (max-width: 999px) {
	.bg_member_only {
		padding-top: 40px;
		padding-bottom: 40px;
	}

	.bg_member_only .flex {
		flex-direction: column;
		gap: 35px;
	}
}

.bg_member_only .flex h3 {
	border: solid 1px #b7a663;
	color: #b7a663;
	padding: 1em 1.5em;
	font-size: 100%;
	line-height: 100%;
}

.bg_member_only .flex .txt {
	text-align: left;
	line-height: 1.34;
}
.bg_member_only .flex .txt p {
	font-size: 18px;
	margin-bottom: 20px;
}
.bg_member_only .flex .txt ul {
	margin-bottom: 30px;
}
.bg_member_only .flex .txt ul li {
	font-size: 17px;
	font-weight: bold;
	background: url(../images/member/icon-check.svg) no-repeat left top / 26px auto;
	margin-bottom: 20px;
	padding: 0 0 0 30px;
}
.bg_member_only .flex .txt .note {
	font-size: 15px;
	border: 1px solid #000000;
	padding: 7px 10px;
}
