/* CSS Document */

.s_list_areabtn,
.s_list_areabtn > *{
	display: flex;
	align-items: center;
	justify-content: center;
}
.s_list_areabtn > *{
	background-color: #FFF;
	width:100%;
	padding: 24px;
	gap: min(34px,calc(1vw * 34 / 10.3));
}
.s_list_areabtn.fixed > *{
	position: fixed;
	top:80px;
	left:0;
	z-index: 900;
}
.s_list_areabtn .onoff{
	width:220px;
	position: relative;
}
.s_list_areabtn .onoff > div:nth-of-type(1),
.s_list_areabtn .onoff a{
	height:50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s_list_areabtn .onoff > div:nth-of-type(1){
	border:solid 1px #04AA89;
	color:#04AA89;
	font-size: 20px;
	font-weight: 600;
	padding: 0 0.75em;
	cursor: pointer;
	justify-content: space-between;
}
.s_list_areabtn .onoff > div:nth-of-type(1) span{
	font-size: 0.75em;
	transform: scaleX(1.5);
	transform-origin: right center;
}
.s_list_areabtn .onoff > div:nth-of-type(1):hover{
	background-color: #04AA89;
	color:#FFF;
}
.s_list_areabtn .onoff.open > div:nth-of-type(1) span{
	transform: scale(1.5,-1);
}
.s_list_areabtn .onoff > div:nth-of-type(2){
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 2;
}
.s_list_areabtn .onoff:not(.open) > div:nth-of-type(2){display: none;}
.s_list_areabtn .onoff a{background-color: #EFEEF2;}
.s_list_areabtn .onoff a + a{border-top:solid 1px #04AA89;}
@media screen and (min-width: 1000px) {}
@media screen and (max-width: 999px) {
	.s_list_areabtn > *{
		padding: 17px;
		gap:16px 13px;
		flex-wrap: wrap;
	}
	.s_list_areabtn.fixed > *{top:54px;}
	.s_list_areabtn .onoff{width:183px;}
	.s_list_areabtn .onoff > div:nth-of-type(1){font-size: 17px;}
	.s_list_areabtn .onoff > div:nth-of-type(1),
	.s_list_areabtn .onoff a{height:41px;}
}
.s_list_anchor .anchor{top: -178px;}
@media screen and (max-width: 999px) {
	.s_list_anchor .anchor{top: -186px;}
}
.s_list_areatitle{
	/*
	border:solid 1px #1E1E1E;	
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	*/
	text-align: center;
	font-size: 150%;
	line-height: 225%;
	margin: 1.5em 0 2em;
	background-color: #04AA89;
	color: #FFF;
}
@media screen and (max-width: 999px) {
	.s_list_areatitle{
		font-size: 125%;
		margin: 1.25em 0;
	}
}
.local_limit{padding-bottom: 50px;}
.local_limit .s_list_bukken{flex-wrap: wrap;}
.local_limit .s_list_bukken li:nth-child(n+7){display: none;}
.s_list_bukken{display: flex;}
.s_list_bukken li{overflow: hidden;}
.s_list_bukken li .newmark{
    position: absolute;
    top: 0;
    right: 0;
    width: 22.22222222%;
    padding-top: 22.22222222%;
    background-image: url(../images/content/search/newmark.svg);
}
.s_list_bukken li a{
	display: block;
	background-color: #EEE;
	margin-bottom: 0.5em;
}
.s_list_bukken li a img{width:100%;}
.s_list_bukken li a img.kaiin{
	background-image:url(../images/content/search/member-text.svg)
									,url(../images/content/search/member-bg.jpg);
}
.s_list_bukken li .floor{
	gap: 0.25em 0.5em;
	margin-bottom: 0.5em;
	display: flex;
	flex-wrap: wrap;
}
.s_list_bukken li .floor span{
	background-color: #04AA89;
	color:#FFF;
	font-size: 1.15em;    
	font-weight: 700;
	line-height: 1em;
	padding: 0.25em 0;
	width: 5em;
	min-width: 5em;
	text-align: center;
}
.s_list_bukken li .floor span.ro{
	width:auto;
	padding: 0.25em 0.5em;
	background-color: #F5695A;
}
.s_list_bukken li h3{
	background-color: #E3DED2;
	font-size: 112.5%;
	line-height: 125%;
	padding: 0.5em 0;
	margin-bottom: 0.5em;
	text-align: center;
}
.s_list_bukken li .flex1{
	display: flex;
	font-size: 90%;
	line-height: 125%;
	text-align: left;
	align-items: flex-start;
}
.s_list_bukken li .flex1 > span:nth-child(1){
	background-color: #004EA3;
	/* background-color: #04AA89; */
	color:#FFF;
	font-size: 80%;
	width: 4em;
	min-width: 4em;
	text-align: center;
	border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
}
.s_list_bukken li .flex1 > span:nth-child(1) span{min-width: 3em;}
.s_list_bukken li .flex1 > span:nth-child(2){
	padding-left: 0.5em;
}
.s_list_bukken li .flex1 + .flex1{margin-top: 0.5em;}
.s_list_bukken li .flex2{
	font-size: 125%;
	font-weight: bold;
	text-align: left;
	margin-top: 0.5em;
}
.s_list_bukken li .flex2 span:nth-child(1) > span{
	font-size: 200%;
	color: #B7A663;
	vertical-align: -0.05em;
	padding: 0 0.125em;
}
.s_list_bukken li .flex2 span:nth-child(2) > span{
	font-size: 65%;
	margin-left: 0.25em;
	vertical-align: 0.05em;
}
.local_motto{
	margin-top: 5%;
	cursor: pointer;
}
@media screen and (min-width: 1000px) {
	.s_list_bukken{flex-wrap: wrap;}
	.s_list_bukken.col3{gap:calc(1% * 60 / 12);}
	.s_list_bukken.col3 li{width:30%;}
	.s_list_bukken.col3 li:nth-child(n+4){margin-top:5%;}
	.s_list_bukken.col4{
		font-size: 75%;
		gap:calc(1% * 40 / 12);
	}
	.s_list_bukken.col4 li{width:22.5%;}
	.s_list_bukken.col4 li:nth-child(n+5){margin-top:5%;}
}
@media screen and (max-width: 999px) {
	.local_limit{padding-bottom: 25px;}
	.local_limit .s_list_bukken{flex-direction: column;}	
	.local_limit .s_list_bukken li{margin: auto;}
	.local_limit .s_list_bukken li:nth-child(n+2),
	.local_motto{margin-top:40px;}
}

.s_detail_title{
	padding-top: 30px;
	padding-bottom: 30px;
}
.s_detail_title > *{line-height: 125%;}
.s_detail_title > h2{font-size: 175%;}
.s_detail_title > h3{font-size: 150%;}
@media screen and (max-width: 999px) {
	.s_detail_title{
		padding-top: 20px;
		padding-bottom: 20px;
	}
	.s_detail_title > h2{
		text-align: left;
		font-size: 125%;
	}
	.s_detail_title > h3{font-size: 125%;}
}

.s_detail_bgW_set{}
.s_detail_bgW_set > li{
	background-color: #FFF;
	padding: 60px 20px;
}
.s_detail_bgW_set > li:nth-child(n+2){
	margin-top: 30px;
}
.s_detail_bgW_set > li h3{
	font-size: 150%;
	line-height: 125%;
	margin-bottom: 50px;
}
.s_detail_bgW_set > li .map{
	margin-top: 1em;
	margin-bottom: 3em;
}
.s_detail_bgW_set > li .map iframe{
	display: block;
	width:100%!important;
	border: none;
}
@media screen and (min-width: 1000px) {
	.s_detail_bgW_set > li .map iframe{
		height:400px!important;
	}
}
@media screen and (max-width: 999px) {
	.s_detail_bgW_set > li{padding: 30px 20px;}
	.s_detail_bgW_set > li h3{
		font-size: 125%;
		margin-bottom: 25px;
	}
	.s_detail_bgW_set > li .map{
		margin-bottom: 2em;
		position: relative;
		padding-top: 100%;
	}
	.s_detail_bgW_set > li .map iframe{
		position: absolute;
		top:0;
		left:0;
		height:100%!important;
	}
}

.s_detail_box1{}
.s_detail_box1 .prof{
	display: flex;
	justify-content: center;
	text-align: left;
}
.s_detail_box1 .prof li{
	display: flex;
}
.s_detail_box1 .prof li > *:nth-child(1){
	width:10em;
	min-width:10em;
	font-weight: bold;
}
.s_detail_box1 .prof li > *:nth-child(2){
	flex-grow: 1;
}

.s_detail_box2{}
.s_detail_box2 .kakaku{
	display: flex;
	justify-content: space-between;
	font-weight: bold;
	margin-bottom: 30px;
}
.s_detail_box2 .kakaku > *{
	display: flex;
	align-items: center;
}
.s_detail_box2 .kakaku > * span:nth-child(1){
	background-color: #B5A463;
	color:#FFF;
	font-size: 150%;
	line-height: 100%;
	padding: 0.25em 1.25em;
	margin-right: 1em;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
}
.s_detail_box2 .kakaku > * span:nth-child(2){
	color:#04A685;
	font-size: 250%;
	line-height: 100%;
	margin-right: 0.25em;
}
.s_detail_box2 .kakaku > * span:nth-child(3){
	font-size: 125%;
	line-height: 100%;
	margin-top: 0.5em;
}
.s_detail_box2 .atamakin,
.s_detail_box3 .menseki{
	background-color: #E6E7E7;
	font-size: 125%;
	line-height: 100%;
	padding: 0.75em 0;
	border-radius: 1.5em;
	-webkit-border-radius: 1.5em;
	-moz-border-radius: 1.5em;
}
.s_detail_box2 .atamakin{
	margin-bottom: 30px;
}
@media screen and (max-width: 999px) {
	.s_detail_box2 .kakaku{
		flex-direction: column;
		align-items: center;
	}
	.s_detail_box2 .kakaku > *:nth-child(2){margin-top: 1.5em;}
	.s_detail_box2 .kakaku > * span:nth-child(1){font-size: 125%;}
	.s_detail_box2 .kakaku > * span:nth-child(2){font-size: 200%;}
	.s_detail_box2 .kakaku > * span:nth-child(3){font-size: 100%;}
	.s_detail_box2 .atamakin,
	.s_detail_box3 .menseki{
		font-size: 100%;
		line-height: 150%;
		padding: 0.5em 0;
	}
}

.s_detail_box3{}
.s_detail_box3 .menseki{}
.s_detail_box3 .hikaku{
	display: flex;
	justify-content: space-between;
	margin-top: 45px;
}
.s_detail_box3 .hikaku li{
	width:424px;
	max-width: 45%;
}
.s_detail_box3 .hikaku li .title{
	background-color: #E1DCD0;
	text-align: center;
	font-weight: bold;
	line-height: normal;
	margin-bottom: 0.75em;
	min-height: 4.375em;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s_detail_box3 .hikaku li .title.teishaku{
	background-color: #004EA3;
	color:#FFF;
}
.s_detail_box3 .hikaku li .title > div{font-size: 1.5em;}
.s_detail_box3 .hikaku li .title.teishaku > div{font-size: 1.75em;}
.s_detail_box3 .hikaku li .price1{
	position: relative;
}
.s_detail_box3 .hikaku li .price1 > div{
	background-color: #E6E7E7;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.s_detail_box3 .hikaku li .title.tochi + .price1 > div{
	min-height: 6.5em;
}
/*
.s_detail_box3 .hikaku li .price1 > div:nth-child(n+2){margin-top: 0.25em;}
*/
.s_detail_box3 .hikaku li .price1 > div > span{
	font-size: 150%;
	line-height: 100%;
	font-weight: bold;
}
.s_detail_box3 .hikaku li .price1 > div > span:nth-child(1){
	background-color: #B5A463;
	color:#FFF;
	min-width: 5.25em;
	padding: 0.25em 0;
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	text-align: center;
}
.s_detail_box3 .hikaku li .title.teishaku + .price1 > div > span:nth-child(1){
	background-color: #004EA3;
}
.s_detail_box3 .hikaku li .price1 > div.tochi > span:nth-child(1){
	background-color: #1E1E1E;
}
.s_detail_box3 .hikaku li .price1 .plus{
	width:30px;
	/*
	position: absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	margin: auto;
	*/
	margin: -13px auto;
	z-index: 2;
}
.s_detail_box3 .hikaku li .price2{
	padding: 1em;
	padding: -webkit-calc(1em - 1px);
	padding: calc(1em - 1px);
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 0.25em;
	border: solid 1px #1E1E1E;
}
.s_detail_box3 .hikaku li .price2 > span{
	font-size: 150%;
	line-height: 100%;
	font-weight: bold;
}
.s_detail_box3 .hikaku li .price2 > span:nth-child(1){
	min-width: 5.25em;
	text-align: center;
}
.s_detail_box3 .hikaku li .price2 > span > span{
	font-size: 125%;
	line-height: 100%;
}
.s_detail_box3 .hikaku li .price3{
	background-color: #C1E8E0;
	padding: 0.5em;
	margin-top: 0.75em;
}
.s_detail_box3 .hikaku li:nth-child(2) .price3{
	background-color: #B5B6B6;
}
.s_detail_box3 .hikaku li .price3 > div{
	padding: 0.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.s_detail_box3 .hikaku li .price3 > div + div{
	padding-top: 0;
}
.s_detail_box3 .hikaku li .price3 > div.bg_Y{
	background-color: #FFDA00;
	margin: 0 -0.5em;
	padding: 0.25em 1em;
}
.s_detail_box3 .hikaku li .price3 > div > span{
	font-size: 150%;
	line-height: 100%;
	font-weight: bold;
}
.s_detail_box3 .hikaku li .price3 > div > span > span{
	font-size: 125%;
	line-height: 100%;
}
.s_detail_box3 .hikaku li .price3 > div > span:nth-child(1){
	min-width: 4em;
	text-align: center;
}
.s_detail_box3 .hikaku li .price3 hr{
	margin: 0.5em 0;
	border-width: 2px;
	border-color:#FFF;
}
.s_detail_box3 .keisen{
	display: flex;
	flex-wrap: wrap;
	width:56%;
	margin: 15px auto;
}
.s_detail_box3 .keisen > *{
	width:50%;
	height:25px;
	border: solid 0 #1E1E1E;
}
.s_detail_box3 .keisen > *:nth-child(1){border-left-width:2px;}
.s_detail_box3 .keisen > *:nth-child(2){border-right-width:2px;}
.s_detail_box3 .keisen > *:nth-child(3){border-right-width:1px;}
.s_detail_box3 .keisen > *:nth-child(4){border-left-width:1px;}
.s_detail_box3 .keisen > *:nth-child(-n+2){border-bottom-width:1px;}
.s_detail_box3 .keisen > *:nth-child(n+3){border-top-width:1px;}
.s_detail_box3 .sagaku{
	display: flex;
	align-items: center;
	justify-content: center;
}
.s_detail_box3 .sagaku > *{
	background-color: #E6E7E7;
	padding: 0.5em 1em 0.5em 1.5em;
	font-size: 150%;
	line-height: 100%;
	font-weight: bold;
}
.s_detail_box3 .arrow{
	width: 40px;
	margin: 15px auto;
}
.s_detail_box3 .setsuyaku{
	background-color: #FF5A00;
	color:#FFF;
	font-size: 125%;
	line-height: 100%;
	font-weight: bold;
	padding: 1em 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.s_detail_box3 .setsuyaku > span{
	font-size: 150%;
	line-height: 100%;
	margin-left: 0.25em;
}
.s_detail_box3 .setsuyaku > span > span{
	font-size: 125%;
	line-height: 100%;
}
.s_detail_box3 .solar{
	margin-top: 1.5em;
	font-weight: bold;
}
@media screen and (max-width: 999px) {
	.s_detail_box3 .hikaku{
		font-size: 50%;
		margin-top: 20px;
	}
	.s_detail_box3 .hikaku li{
		width:48%;
		max-width: 48%;
	}
	.s_detail_box3 .hikaku li .price1 .plus{
		width:16px;
		margin: -7px auto;
	}
	.s_detail_box3 .hikaku li .price3 hr{border-width: 1px;}
	.s_detail_box3 .keisen{margin: 10px auto;}
	.s_detail_box3 .keisen > *{height: 15px;}
	.s_detail_box3 .sagaku > *{font-size: 100%;}
	.s_detail_box3 .arrow{
		width: 30px;
		margin: 10px auto;
	}
	.s_detail_box3 .setsuyaku{
		font-size: 100%;
		flex-direction: column;
	}
	.s_detail_box3 .setsuyaku > span{
		margin-left: 0;
		margin-top: 0.5em;
	}
	.s_detail_box3 .solar{line-height: 150%;}
}

.s_detail_shousai{
	width:1140px;
	max-width: 100%;
	margin: auto;
	text-align: left;
	display: flex;
	justify-content: space-between;
}
.s_detail_shousai .kukakuzu{
	width:556px;
	max-width: 49%;
}
.s_detail_shousai .kukakuzu .frame{
	border: solid 1px #BFBFBF;
	margin-bottom: 1em;
}
.s_detail_shousai .kukakuzu .frame img{
	width:100%;
}
.s_detail_shousai > ul{
	/* width:100%; */
	width:490px;
	max-width: 49%;
	margin-left: auto;
}
/*
.s_detail_shousai .kukakuzu + ul{
	width:490px;
	max-width: 49%;
}
*/
.s_detail_shousai > ul > li{
	padding-bottom: 2em;
	border-bottom: solid 1px #BFBFBF;
}
.s_detail_shousai > ul > li:nth-child(n+2){margin-top: 2em;}
.s_detail_shousai > ul > li h4{
	font-size: 150%;
	line-height: 100%;
}
.s_detail_shousai > ul > li > ul{margin-top: 1.25em;}
.s_detail_shousai > ul > li > ul > li:nth-child(2){margin-top: 1em;}
.s_detail_shousai > ul > li > ul > li{
	display: flex;
	justify-content: space-between;
}
.s_detail_shousai > ul > li > ul > li > *:nth-child(1){
	width:6em;
	min-width:6em;
}
.s_detail_shousai > ul > li > ul > li > *:nth-child(2){
	flex-grow: 1;
}
.s_detail_shousai .btn_set{
	display: flex;
	flex-wrap: wrap;
	margin-top: 1em;
	margin-right: -1em;
}
.s_detail_shousai .btn_set + .btn_bottom{
	display: flex;
	margin-top: 1em;
}
.s_detail_shousai .btn_set + .btn_bottom a{
	display: block;
	font-weight: bold;
}
.s_detail_shousai .btn{
	display: block;
	background-color: #B5B6B6;
	color:#FFF;
	margin-top: 1em;
	margin-right: 1em;
	width: 172px;
	text-align: center;
	font-size: 87.5%;
	line-height: 36px;
	border:solid 2px transparent;
	border-radius: 16px;
	-webkit-border-radius: 16px;
	-moz-border-radius: 16px;
}
.s_detail_shousai .btn[href]{
	border-color: #04A685;
	background-color: #04A685;
	color:#FFF;
	/*
	background-color: #FFF;
	color:#04A685;
	*/
}
.s_detail_shousai .btn[href].mujin{
	background-color: #2EFFFF;
	border-color: #2EFFFF;
	color:#000;
}
@media screen and (max-width: 999px) {
	.s_detail_shousai{flex-direction: column;}
	.s_detail_shousai .kukakuzu,
	.s_detail_shousai > ul{
		width:100%;
		max-width: 100%;
	}
	.s_detail_shousai > ul{margin-top: 2em;}
	.s_detail_shousai > ul > li h4{font-size: 125%;}
	.s_detail_shousai .btn_set{
		flex-direction: column;
		margin-right: 0;
	}
	.s_detail_shousai .btn{
		margin-left: auto;
		margin-right: auto;
	}
	.s_detail_shousai .btn_set + .btn_bottom{
		flex-direction: column;
		align-items: center;
	}
	.s_detail_shousai .btn_set + .btn_bottom a{
		font-size: 87.5%;
		line-height: 100%;
	}
}

.s_detail_shuuhen{
	text-align: left;
	display: flex;
	justify-content: space-between;
}
.s_detail_shuuhen li{
	width:45%;
	line-height: 175%;
}
@media screen and (max-width: 999px) {
	.s_detail_shuuhen{flex-direction: column;}
	.s_detail_shuuhen li{width:100%;}
}

.s_detail_bukken{
	width:1060px;
	max-width: 100%;
	margin: auto;
	text-align: left;
}
.s_detail_bukken > li{
	display: flex;
}
.s_detail_bukken > li > *:nth-child(1){
	width:220px;
	min-width: 220px;
	font-weight: bold;
}
.s_detail_bukken > li > *:nth-child(2){flex-grow: 1;}
@media screen and (max-width: 999px) {
	.s_detail_bukken > li{flex-direction: column;}
	.s_detail_bukken > li:nth-child(n+2){margin-top: 1em;}
	.s_detail_bukken > li > *:nth-child(1){width: 100%;}
	.s_detail_bukken > li > *:nth-child(2){padding-left: 1em;}
}