@charset "UTF-8";

// =========================================
// Font family
// =========================================

html {
	scroll-behavior: smooth;
}
body {
	font-family: $font-base;
	color: $font-color;
}

img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;

	&.pc-only {
		display: inline;

		@include mq(sm2) {
			display: none;
		}
	}

	&.sp-only {
		display: none;

		@include mq(sm2) {
			display: inline;
		}
	}
}

.pc-only {
	display: block;

	@include mq(sm2) {
		display: none;
	}
}

.sp-only {
	display: none;

	@include mq(sm2) {
		display: block;
	}
}

.pc-only2 {
	display: inline;

	@include mq(sm2) {
		display: none;
	}
}

.sp-only2 {
	display: none;

	@include mq(sm2) {
		display: inline;
	}
}

// ===========================
// ターゲットリンクの位置調整（ヘッダーに被らないように）
// ===========================

$i: 10;
$max: 300;
$step: 5;
$unit: 1px;

@while $i < $max {
	.adj-#{$i}:before {
		content: "";
		display: block;
		height: ($i * $unit); /* 調整したい高さ（固定ヘッダーの高さ） */
		margin-top: -($i * $unit); /* heightと同じ分のネガティブマージン */
		visibility: hidden;
	}
	$i: $i + $step;
}

// ===========================
// 共通幅
// ===========================

$i2: 700;
$max2: 1300;
$step2: 10;

.c-width {
	max-width: 1348px !important;
	margin: 0 auto;
}

@while $i2 <= $max2 {
	.c-width-#{$i2} {
		max-width: ($i2 * $unit) !important;
		margin: 0 auto;
	}
	$i2: $i2 + $step2;
}

section .sect-inner {
	max-width: 1348px;
	margin: 0 auto;

	@include mq(sm2) {
		padding: 0 $sp-padding;
	}
}

.flowing-ttl {
	display: flex;
	width: 100%;
	overflow: hidden;
	&__item {
		flex-shrink: 0;
		white-space: nowrap;
		padding: 0 15px;
		&:nth-child(odd) {
			animation: MoveLeft 40s -20s infinite linear; //40秒かけて-20秒後に無限ループさせる
		}

		&:nth-child(even) {
			animation: MoveLeft2 40s infinite linear; //40秒かけて無限ループさせる
		}
	}
	&.reverse {
		.flowing-ttl__item {
			&:nth-child(odd) {
				animation: MoveLeft 40s -20s infinite linear reverse; //40秒かけて-20秒後に無限ループさせる
			}

			&:nth-child(even) {
				animation: MoveLeft2 40s infinite linear reverse; //40秒かけて無限ループさせる
			}
		}
	}
}

@keyframes MoveLeft {
	0% {
		transform: translateX(100%);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes MoveLeft2 {
	0% {
		transform: translateX(0);
	}
	to {
		transform: translateX(-200%);
	}
}

.page-header {
	padding: 60px 0 30px;

	@include mq(sm2) {
		padding: 50px 0 20px;
	}
	&__ttl {
		.en {
			font-size: 36px;
			display: block;
			color: #59575f;

			@include mq(sm2) {
				font-size: 24px;
			}
			&::after {
				content: "";
				display: block;
				width: 356px;
				height: 4px;
				background: #f63402;
				margin: 30px 0 20px;

				@include mq(sm2) {
					width: 240px;
					height: 3px;
					margin: 20px 0 15px;
				}
			}
		}
		.jp {
			font-size: 18px;
			display: block;

			@include mq(sm2) {
				font-size: 12px;
			}
		}
	}

	.breadcrumbs {
		font-size: 14px;
		width: 100%;
		@include mq(sm2) {
			font-size: 10px;
			padding-top: 20px;
		}
		ul {
			display: flex;

			@include mq(sm2) {
				flex-wrap: wrap;
			}

			li {
				color: #6f808d;
				@include mq(sm2) {
					line-height: 1.5;
				}

				a {
					color: #6f808d;
				}
				.arrow {
					margin: 0 0.5em;
				}
				&.home {
					display: flex;
					a {
						display: flex;
						align-items: center;
					}
				}
			}
		}

		&.white {
			background: none;
		}
	}

	&.single-gallery-header {
		.sect-inner {
			@include mq(sm2) {
				padding: 0;
			}
		}
		.breadcrumbs {
			@include mq(sm2) {
				padding: 0 $sp-padding;
			}
		}
		.page-header__ttl {
			background: #57575a;
			color: #fff;
			font-size: 29px;
			line-height: 1.5;
			padding: 13px;
			margin-bottom: 20px;

			@include mq(sm2) {
				font-size: 17px;
				padding: 15px $sp-padding;
			}
		}
	}
}
