@charset "UTF-8";

/* -------------------


  ！！！！！注意！！！！！

  index.cssはSassから生成されていますので、
  直接編集しないようご注意ください

  ！！！！！注意！！！！！


  
--------------------*/

/* -------------------
  VARIABLES
--------------------*/

// Color
$lrpd: calc((100vw - 970px) / 2);
$ls1: 0.1em;
$ls2: 0.2em;
$font-color: #000;
$font-color-2: #000;
$orange: #000;
$green: #000;
$green2: #000;
$blue: #000;
$red: #f63402;
$yellow: #000;
$purple: #000;
$pink: #000;
$transition: all 0.3s ease 0s;
$sp-padding: 5vw;
$tb-padding: 10vw;
$box-shadow: 0px 3px 6px
	rgba(
		$color: #000000,
		$alpha: 0.16,
	);

// Font Family
$font-base: "Manrope", "Noto Sans JP", sans-serif;
$font-a: "Manrope", "Noto Sans JP", sans-serif;
$font-b: "Manrope", "Noto Sans JP", sans-serif;
$font-c: "Manrope", "Noto Sans JP", sans-serif;

.font-a {
	font-family: $font-a;
}
.font-b {
	font-family: $font-b;
	font-style: normal;
}

.noto-sans-jp {
	font-family: "Noto Sans JP", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}

.manrope {
	font-family: "Manrope", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
}
