@charset "utf-8";
#responsiveMenu {
	display: none;
	position: fixed;
	z-index: 49;
	top: 0px;
	right: 0px;
	overflow: hidden;
}
#btnMenu {
	background-color: #333;
	float: right;
}
#btnContact {
	text-align: center;
	padding-right: 40px;
	padding-bottom: 40px;
	padding-left: 40px;
}
#btnContact a {
	line-height: 20px;
	color: #FFF;
	text-decoration: none;
	padding: 10px;
	display: block;
	background-color: #F00;
}
#slideSideMenuBg {
	display: none;
	position: fixed;
	z-index: 20;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: #000;
	opacity: 0.7;
}
#slideSideMenu {
	position: absolute;
	position: fixed;
	top: 0px;
	height: 100%;
	z-index: 50;
	width: 300px;
	overflow-x: none;
	overflow-y: auto;
	right: -300px;
	background-color: #FFF;
}
#slideSideMenu ul {
	margin: 0px;
	clear: both;
	padding: 0px;
	text-align: center;
}
#slideSideMenu ul li{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}
#slideSideMenu ul li a {
  font-size: 15px;
  line-height: 30px;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.1em;
}
#slideSideMenu ul li .sub li a {
	color: #999;
	font-weight: normal;
	font-size: 90%;
	letter-spacing: 0.1em;
}
#slideSideMenu>ul {
	padding: 15px;
}

#slideSideMenu>ul>li {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #EEE;
	padding-top: 15px;
	padding-bottom: 15px;
}
#slideSideMenu>ul>li:last-child {
	/* [disabled]border-bottom-width: 1px; */
	/* [disabled]border-bottom-style: solid; */
	/* [disabled]border-bottom-color: #EEE; */
}
