@charset "utf-8";
/* CSS Document */

/* 
-------------------------------------------------- */
/* common parts
-------------------------------------------------- */
body {}
img {
	max-width:100%;
	height: auto;
}

@media (min-width: 768px) {
/* tablet+PC用 */
	.for-tb,
	.for-tbpc { display:block;}
	.for-sp {
		display:none;
	}
	.content--inner {
		margin:0 auto;
	}
	.content_box {
		font-size:16px;
	}
}
@media (min-width: 1024px) {
/* PC用 */
	.for-pc  { display:block;}

	.content--inner {
		max-width:1200px;
		margin:0 auto;
	}
}
@media (min-width: 1224px) {
/* PC-wide用 */
	.inner {
		max-width:auto;
		width:1200px;
		margin:0 auto;
	}
}

@media (max-width: 767px) {
/* SP用 */
	.for-sp  { display:block;}
	.for-tb,
	.for-pc,
	.for-tbpc { display:none;}
	
	.content--inner {
		margin:0 auto;
	}
}

@media (min-width: 641px) and ( max-width: 768px) {
/* tablet用 */
	.content_box {
		font-size:12px;
	}
}


/* 
-------------------------------------------------- */
.cp_title {
    padding-top: 55px;
    padding-bottom: 30px;
    margin: auto;
	text-align: center;
    font-size:2.1875em;
	line-height:1.25;
	font-weight:bolder;
}
.gw--lead {
    margin:0 auto 3.75em;
	text-align: left;
	font-size:1.25em;
	line-height:2;
}
h3.h301 {
	margin-bottom: 40px;
	padding:0.7rem 0.5rem;
	font-size:1.625em;
    font-weight: bolder;
	text-align: center;
	line-height:1.3;
	border:1px solid #000;
}

h4.h401 {
	padding:0.7rem 0.5rem;
	margin-bottom:25px;	
	color: #000;
	font-size:1.75em;/*28*/
	letter-spacing: 0.25em;
    font-weight: bolder;
	text-align: center;
	line-height:1.3;
	background:#ebebeb;
}

h5.h501 {
	padding:0.7rem 0.5rem;
	margin-bottom:12px;	
	color: #fff;
	font-size:1.625em;/*26*/
	letter-spacing: 0.1em;
    font-weight: bolder;
	text-align: center;
	line-height:1.3;
	background:#e63911;
}

.ul--gw--01 li {
	padding:9px;
	border:6px solid #e63911;
	background:rgba(249,215,198,1);
}
.ul--gw--01 li a:hover {	
	text-decoration:underline;
}
.li--inner {
	padding:0 10px 8px;
}
.li--access {
	min-height:3.4em;
	text-align:center;
	font-size:0.9375em;
	line-height: 1.5;
}

.price--area {
	display:flex;
	justify-content: center;
	align-items:center;
	margin:0 auto 0.6em;
	font-weight:bolder;
	line-height:1.4;
}
.price--area .class {
	/*display:inline-block;*/
	width:54px;
	padding:0.24em 0 ;
	margin-right:1em;
	text-align:center;
	line-height:1;
	color: #fff;
	background:#e63911;
}
.price--area .price {
	width:calc(100% - 70px);
	text-align: left;
}
.price--area .price span {
	font-size:1.45em;
	line-height: 1;
}
.price--area .price small {
	display: inline-block;
	width:7em;
	font-size:1rem;
}
p.offPer {
	margin: 0.3em 0 1.1em;
	font-size:1.1825em;
	font-weight:bold;
	color: #ff0000;
}
p.offPer.last {
	margin-bottom: 0;
}
p.comment {
	font-weight:bolder;
	font-size:12px;
}

.ul--btn--01 {
	
}
.ul--btn--01 li {
}
.ul--btn--01 a {
	position:relative;
	display:block;
	width:100%;
	font-size:1.5em;/*24*/
	text-align:center;
	border:1px solid #000;
	line-height: 65px;
	transition:.3s;
}
.ul--btn--01 a::after {
	content:'';
	width:22px;
	height:7px;
	position:absolute;
	right:12px;
	top:50%;
	margin-top:-3.5px;
	background:url("../images/bg_btn.png") right center no-repeat;
}
.ul--btn--01 a:hover {
	color: #000;
	background: #efefef;
	transition:.3s;
}
@media (min-width: 768px) {
/* tablet+PC用 */
	.ul--gw--01 {
		display:flex;
		justify-content: flex-start;
		flex-wrap: wrap;
		max-width:1200px;
		margin:0 auto 30px;
	}
	.ul--gw--01 li {
		width:48.5%;
		margin:0 3% 30px 0;
	}
	.ul--gw--01 li:nth-child(2n) {
		margin-right:0;
	}
	
	.ul--btn--01 {
		display:flex;
		justify-content: center;
		margin:0 auto 70px;
	}
	.ul--btn--01 li {
		width:364px;
		margin-right:44px;
	}
	.ul--btn--01 li:last-of-type {
		margin-right:0;
	}
}
@media (min-width: 1024px) {
/* PC用 */
	.gw--lead {
		margin:0 95px 3.75em;
		font-size:1em;
	}
	.ul--gw--01 li {
		width:31%;
		margin:0 3.5% 30px 0;
	}
	.ul--gw--01 li:nth-child(2n) {
		margin-right:3.5%;
	}
	.ul--gw--01 li:nth-child(3n) {
		margin-right:0;
	}
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
	
	h5.h501 {
		padding:1em 0.2em 0.8em;
		margin-bottom:12px;	
		line-height:1.2;
	}
	
	.li--access {
		margin-bottom:0.7em;
	}
	.price--area .price span {
		font-size:22px;
	}
	.price--area .price small {
		font-size:17px;
	}
	p.offPer {
		font-size:20px;
	}
}
@media (max-width: 767px) {
/* SP用 */
	.cp_title {
		padding:40px 0 30px;
		font-size:1.625em;/*26*/
		line-height:1.25;
		text-align:left;
	}
	.gw--lead {
		font-size:1em;
		line-height:1.75;
		text-align: left;
	}
	h3.h301 {
		margin-bottom:25px;
		font-size:1.25em;
	}
	h4.h401 {
		margin-bottom:20px;
		font-size:1.25em;
	}
	h5.h501 {
		margin-bottom:12px;
		font-size:1.25em;
	}
	.ul--gw--01 {
		margin-bottom:35px;
	}
	.ul--gw--01 li {
		margin-bottom:15px;
	}
	
	.ul--btn--01 {
		margin-bottom:60px;
	}
	.ul--btn--01 li {
		margin-bottom:15px;
	}
	
	.price--area .class {
		padding:0.3em 0 0.1em;
		font-size:0.875em;
	}
}

/* .summerv
-------------------------------------------------- */
.summerv {
    margin:0 auto 3.75em;
	padding: 1em 1.5em 0.3em;
	text-align:center;
	font-size:1;
	line-height:1.6;
	border: 3px double #ff5c00;
	background:#fefff1;
}
.summerv .h302 {
	margin-bottom: 0.8em;
	font-size:1.4em;
	color: #ff5c00;
}
.summerv p {
	margin-bottom:0.9em;
}

@media (min-width: 769px) {
/* tablet+PC用 */
}
@media (min-width: 1025px) {
/* PC用 */
	.summerv {
		margin:0 95px 3.75em;
	}
}
@media (min-width: 1225px) {
/* PC-wide用 */
}
@media (min-width: 769px) and ( max-width: 1024px) {
/* tablet用 */
}
@media (max-width: 768px) {
/* iPadMini+SP用 */
	.summerv {
		font-size:15px;
	}
}
@media (max-width: 480px) {
/* SP用 */
	.summerv {
		font-size:84%;
	}
}





/* 
-------------------------------------------------- */
@media (min-width: 768px) {
/* tablet+PC用 */
}
@media (min-width: 1024px) {
/* PC用 */
}
@media (min-width: 1224px) {
/* PC-wide用 */
}
@media (min-width: 768px) and ( max-width: 1023px) {
/* tablet用 */
}
@media (max-width: 767px) {
/* SP用 */
}