@charset "utf-8";
/* CSS Document */

.ali-C {margin:0 auto !important; text-align: center !important;}

/* -------------------------------------------------- */
/* flexbox */

.FlexBox{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.FlexBoxL{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:flex-start; justify-content:flex-start;}
.FlexBoxR{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:flex-end; justify-content:flex-end;}
.FlexBoxC{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:center; justify-content:center;}
.FlexBoxB{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:space-between; justify-content:space-between;}
.FlexBoxA{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:space-around; justify-content:space-around;}
.FlexBoxM{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center; -webkit-text-align:center; text-align:center;}

@media screen and (max-width: 999px) {
.txtLimit {width:20%; margin:30px auto;}
.txtLimit {width:100%;}

.ttlChance {font-size:5.5vw; margin:20px auto; line-height:1.6;}
.txtChance {margin:0 auto; text-align: left;  line-height:2;}
.contBnr {margin:40px auto 10px auto;}
.contBnr img {width:100%;}
.contBnrTxt {margin:0 auto; text-align: left; font-size:3.5vw; line-height:1.6;}

.voiceArea {margin:30px auto;}
.voiceArea li {padding:30px; margin-bottom:30px; background-color:#f4f5f5; text-align: left; }
.voiceArea li div {}
.voiceArea li .voiceName {display: inline-block; vertical-align: top; background-color:#f1ff00; width:35%; height:100px; text-align: center; padding-top:30px; font-weight: bolder; margin:0;}
.voiceArea li .voiceName dt {font-size:4vw; margin-bottom:10px;}
.voiceArea li .voiceName dd {font-size:4.5vw; margin-inline-start:0;}
.voiceArea li .voicePht {width:55%;}
.voiceArea li .voicePht img {width:100%;}
.voiceArea li .voiceTitle {color:#172a85; font-size:4.5vw; font-weight: bolder; line-height:1.45; margin:15px 0 10px 0;}
.voiceArea li .voiceTxt {line-height:1.8;}


.ttlPropertyList {font-size:5vw; font-weight: bolder; border:solid 1px #000; padding:15px; margin:50px auto 10px auto;}
.txtRoukin {background-color:#f4f5f5; padding:10px; margin-bottom:10px;}
ul.campaignProperty { margin:0 auto 50px auto; font-weight: bolder}
ul.campaignProperty li {margin:0 auto 10px auto; border:solid 5px #e73911; background-color:#fad8c7; padding:6px 6px 20px 6px;}
ul.campaignProperty li a {display: block;}

ul.campaignProperty li a h4 {font-size:5.5vw; padding:15px 0 10px 0; background-color:#e73911; color:#fff;}
ul.campaignProperty li a h4 span {font-size:4vw;}
ul.campaignProperty li a .txtOption {font-size:5.5vw; color:#f63402; background-color:#fff; padding:10px; margin-bottom:15px;}
ul.campaignProperty li a .txtPrice {margin:10px auto;}
ul.campaignProperty li a .txtPrice span {font-size:6.5vw;}
ul.campaignProperty li a .txtTotalPrice {font-size:4vw; margin:10px auto 0 auto; padding-top:20px; border-top:solid 1px #000;}
ul.campaignProperty li a .txtTotalPrice span {color:#f63402; font-size:6vw;}
ul.campaignProperty li a .txtTotalPrice span.smaller {font-size:3vw;}

ul.campaignProperty li a table { font-size:4vw;}
ul.campaignProperty li a table th {text-align: left; padding:3px 10px 3px 3px;}
ul.campaignProperty li a table td {text-align: left; padding:3px;}
ul.campaignProperty li a table tr:first-child td {font-size:5vw;}
ul.campaignProperty li a table tr:last-child td {color:#f63402;}

/* -------------------------------------------------- */
/* flexbox */

.FlexBoxSp{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.FlexBoxSpL{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:flex-start; justify-content:flex-start;}
.FlexBoxSpR{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:flex-end; justify-content:flex-end;}
.FlexBoxSpC{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:center; justify-content:center;}
.FlexBoxSpB{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:space-between; justify-content:space-between;}
.FlexBoxSpA{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:space-around; justify-content:space-around;}
.FlexBoxSpM{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center; -webkit-text-align:center; text-align:center;}

.pcOnly {display: none;}

}


@media screen and (min-width: 1000px) {

.txtLimit {margin:50px auto 20px auto; }

.ttlChance {font-size:40px; margin:40px auto 20px auto; line-height:1.6;}
.txtChance {width:1000px; margin:0 auto; text-align: left;  line-height:2;}

.contBnr {margin:40px auto 10px auto; width:992px;}
.contBnrTxt {margin:0 auto; width:992px; text-align: left; font-size:12px; line-height:1.6;}

.voiceArea {width:992px; margin:30px auto;}
.voiceArea li {width:476px; padding:30px; background-color:#f4f5f5; text-align: left; }
.voiceArea li div {align-items: flex-start;}
.voiceArea li .voiceName {display: inline-block; vertical-align: top; background-color:#f1ff00; width:141px; height:128px; text-align: center; padding-top:45px; font-weight: bolder; margin:0;}
.voiceArea li .voiceName dt {font-size:18px; margin-bottom:10px;}
.voiceArea li .voiceName dd {font-size:22px; margin-inline-start:0;}
.voiceArea li .voicePht {}
.voiceArea li .voiceTitle {color:#172a85; font-size:25px; font-weight: bolder; line-height:1.45; margin:15px 0 10px 0;}
.voiceArea li .voiceTxt {line-height:1.8;}

.ttlPropertyList {font-size:28px; font-weight: bolder; border:solid 1px #000; padding:25px; margin:80px auto 20px auto;}
.txtRoukin {background-color:#f4f5f5; padding:10px; margin-bottom:20px;}
ul.campaignProperty {width:1200px; margin:0 auto 50px auto; display: flex; flex-wrap: wrap; justify-content:flex-start; font-weight: bolder;}
ul.campaignProperty li {width:380px; margin:0 30px 30px 0; border:solid 5px #e73911; background-color:#fad8c7; padding:6px 6px 20px 6px;}
ul.campaignProperty li:nth-child(3n) {margin-right:0;}
ul.campaignProperty li a {display: block;}
ul.campaignProperty li a h4 {font-size:22px; padding:20px 0 15px 0; background-color:#e73911; color:#fff;}
ul.campaignProperty li a h4 span {font-size:14px;}
ul.campaignProperty li a .txtOption {color:#f63402; background-color:#fff; padding:10px; margin-bottom:15px;}
ul.campaignProperty li a .txtPrice {font-size:14px; margin:10px auto 5px auto;}
ul.campaignProperty li a .txtPrice span {font-size:26px;}
ul.campaignProperty li a .txtTotalPrice {font-size:20px; margin:5px auto 0 auto; padding-top:15px; border-top:solid 1px #000;}
ul.campaignProperty li a .txtTotalPrice span {color:#f63402; font-size:22px;}
ul.campaignProperty li a .txtTotalPrice span.smaller {font-size:16px;}

ul.campaignProperty li a table { font-size:13px;}
ul.campaignProperty li a table th {text-align: left; padding:3px 10px 3px 3px;}
ul.campaignProperty li a table td {text-align: left; padding:3px;}
ul.campaignProperty li a table tr:first-child td {font-size:16px;}
ul.campaignProperty li a table tr:last-child td {color:#f63402;}

/* -------------------------------------------------- */
/* flexbox */

.FlexBoxPc{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap;}
.FlexBoxPcL{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:flex-start; justify-content:flex-start;}
.FlexBoxPcR{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:flex-end; justify-content:flex-end;}
.FlexBoxPcC{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:center; justify-content:center;}
.FlexBoxPcB{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:space-between; justify-content:space-between;}
.FlexBoxPcA{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-flex-wrap:wrap; flex-wrap:wrap; -webkit-justify-content:space-around; justify-content:space-around;}
.FlexBoxPcM{ display:-webkit-box; display:-webkit-flex; display: flex; -webkit-justify-content:center; justify-content:center; -webkit-align-items:center; align-items:center; -webkit-text-align:center; text-align:center;}

.spOnly {display: none;}

}


