/* CSS Document */

.LS_list{}
.LS_list li{background-color: #F4F5F5;}
.LS_list li a{display: block;}
.LS_list li a:hover{color: #738DA0; text-decoration: underline;}
.LS_list li img{background-color: rgba(0,0,0,0.2);}
.LS_list li .pad{
	/* font-size: 150%; ver1 */
	font-size: 120%;
	line-height: 150%;
	text-align: left;
	padding: 1em;
}
.LS_list li .pad .title{
	color: #738DA0;
	border: solid 1px #738DA0;
	text-align: center;
	font-size: 80%;
	margin-top: 1em;
}
.LS_list li a:hover .pad .title{
	background-color: #738DA0;
	color:#FFF;
	text-decoration: none;
}
@media screen and (min-width: 1000px) {
	.LS_list li{
		float: left;
		width:31.66666667%;
		margin-left: 2.5%;
	}
	.LS_list li:nth-child(3n+1){margin-left: 0;clear: both;}
	.LS_list li:nth-child(n+4){margin-top: 2.5%;}
}
@media screen and (max-width: 999px) {
	/*
	.LS_list li:nth-child(n+2){margin-top: 1em;}
	*/
	.LS_list li{
		float: left;
		width: 48%;
		font-size: 50%;
	}
	.LS_list li:nth-child(2n+1){clear: both;}
	.LS_list li:nth-child(2n+2){float: right;}
	.LS_list li:nth-child(n+3){margin-top: 1em;}
}

.pagenavi{}
.pagenavi .p_num{
	display: inline-block;
	border: solid 1px #F63402;
	color: #F63402;
	padding: 0.25em 0;
	width: 1.5em;
	line-height: 100%;
}
.pagenavi .p_num.current,
.pagenavi .p_num:hover{
	background-color: #F63402;
	color:#FFF;
}
.pagenavi .p_pad{
	display: inline-block;
	min-width: 0.75em;
}
.pagenavi .p_arrow{color:#B2B2B3;}
.pagenavi .p_arrow:hover{color:#F63402;}

.LS_detail{
	width:930px;
	max-width: 100%;
	margin: auto;
}
.LSD_mainpic{
	margin-bottom: 3.5em;
}
.LSD_mainpic.noimg{
	background-color: rgba(0,0,0,0.2);
}
.LSD_title{
	color: #738DA0;
	font-size: 150%;
	line-height: 100%;
	margin-bottom: 1em;
}
.LSD_catch{
	display: inline-block;
	margin: auto;
	text-align: left;
	font-size: 200%;
	line-height: 150%;
	margin-bottom: 2em;
}
.LSD_subt{
	background-color: #F4F5F5;
	border-left:solid 0.75em #738DA0;
	font-size: 100%;
	padding: 0.5em 0;
	margin-bottom: 2em;
}
.LSD_subt > div{
	text-align: left;
	padding-left: 0.66em;
	color:#738DA0;
	/* font-size: 200%; ver1 */
	font-size: 160%;
	line-height: 150%;
	font-weight: normal;
}
.LS_detail .LSD_subt:nth-of-type(n+2){
	margin-top: 5em;
}
.LSD_photo{
	margin: auto;
	margin-bottom: 2em;
}
.LSD_text{
	text-align: left;
	font-size: 100%;
	/* line-height: 200%; ver1 */
	line-height: 175%;
	margin-bottom: 2em;
	margin-top: -0.5em;
}
/* .LSD_text *{font-size:100%!important;} */