/* CSS Document */

.LS_list {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;
}
.LS_list li {
	width: calc((100% - 60px) / 3);
	background-color: #f4f5f5;
}
.LS_list li a {
	display: block;
}
.LS_list li a:hover {
	color: #738da0;
	text-decoration: underline;
}
.LS_list li img {
	background-color: rgba(0, 0, 0, 0.2);
}
.LS_list li .pad {
	/* font-size: 150%; ver1 */
	font-size: 18px;
	line-height: 150%;
	text-align: left;
	padding: 1em;
}
.LS_list li .pad .title {
	color: #738da0;
	border: solid 1px #738da0;
	text-align: center;
	margin-top: 1em;
	padding: 10px;
}
.LS_list li a:hover .pad .title {
	background-color: #738da0;
	color: #fff;
	text-decoration: none;
}
@media screen and (max-width: 999px) {
	/*
	.LS_list li:nth-child(n+2){margin-top: 1em;}
	*/
	.LS_list {
		gap: 15px;
	}
	.LS_list li {
		float: left;
		width: calc((100% - 15px) / 2);
		font-size: 50%;
	}
	.LS_list li .pad {
		font-size: 15px;
	}
	.LS_list li .pad .title {
		font-size: 13px;
		padding: 3px;
		line-height: 1.4;
	}
}

.pagenavi {
}
.pagenavi .p_num {
	display: inline-block;
	border: solid 1px #f63402;
	color: #f63402;
	padding: 0.25em 0;
	width: 1.5em;
	line-height: 100%;
}
.pagenavi .p_num.current,
.pagenavi .p_num:hover {
	background-color: #f63402;
	color: #fff;
}
.pagenavi .p_pad {
	display: inline-block;
	min-width: 0.75em;
}
.pagenavi .p_arrow {
	color: #b2b2b3;
}
.pagenavi .p_arrow:hover {
	color: #f63402;
}

.LS_detail {
	width: 930px;
	max-width: 100%;
	margin: auto;
}
.LSD_mainpic {
	margin-bottom: 3.5em;
}
.LSD_mainpic.noimg {
	background-color: rgba(0, 0, 0, 0.2);
}
.LSD_title {
	color: #738da0;
	font-size: 150%;
	line-height: 100%;
	margin-bottom: 1em;
}
.LSD_catch {
	display: inline-block;
	margin: auto;
	text-align: left;
	font-size: 200%;
	line-height: 150%;
	margin-bottom: 2em;
}
.LSD_subt {
	background-color: #f4f5f5;
	border-left: solid 0.75em #738da0;
	font-size: 100%;
	padding: 0.5em 0;
	margin-bottom: 2em;
}
.LSD_subt > div {
	text-align: left;
	padding-left: 0.66em;
	color: #738da0;
	/* font-size: 200%; ver1 */
	font-size: 160%;
	line-height: 150%;
	font-weight: normal;
}
.LS_detail .LSD_subt:nth-of-type(n + 2) {
	margin-top: 5em;
}
.LSD_photo {
	margin: auto;
	margin-bottom: 2em;
}
.LSD_text {
	text-align: left;
	font-size: 100%;
	/* line-height: 200%; ver1 */
	line-height: 175%;
	margin-bottom: 2em;
	margin-top: -0.5em;
}
/* .LSD_text *{font-size:100%!important;} */
